@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-sky-dark: #040404;
  --bg-sky-medium: #27183f;
  --bg-sky-light: #370648;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  background: rgb(4, 4, 4); /* fallback */
  background: linear-gradient(
    180deg,
    var(--bg-sky-dark) 0%,
    var(--bg-sky-medium) 50%,
    var(--bg-sky-light) 100%
  );
  width: 100%;
  height: 100vh;
}

.moon-target,
.moon-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1000; */
  pointer-events: auto;
}

.moon-aligned {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid yellowgreen;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.show {
  opacity: 1;
}

.container-data {
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  justify-content: center;
  padding: 10px;
}
.container-data-row {
  display: flex;
  justify-content: center;
}

.container-data-row > * {
  margin-right: 25px;
}

/* compass styles */
.compass {
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.star {
  position: absolute;
  width: 90px;
  height: 170px;
  left: 50%;
  top: 50%;
  transform-origin: center bottom;
  transform: translate(-50%, -350px) rotate(-12deg);
  transition: transform 1s;
}

.telescope img {
  /* border: 1px solid red; */
  position: absolute;
  width: 240px;
  height: 240px;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
  pointer-events: none;
}

.dial span {
  position: absolute;
  left: 50%;
  top: -15px;
  width: 2px;
  height: 25px;
  background-color: white;
  transition: all 1s;
}

.dial span:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.dial span:nth-child(3) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.dial span:nth-child(4) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.dial-aligned {
  width: 4px !important;
  height: 40px !important;
  background-color: yellowgreen !important;
}

.ui-hemisphere {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.ui-latitude {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  opacity: 0.7;
}
.ui-latitude .ui-transporter {
  width: 100%;
  height: 100%;
  margin-top: 4px;
}

.ui-latitude-txt {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  right: 7px;
  bottom: 0;
}
.ui-latitude-value {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: absolute;
  right: 2px;
  bottom: 12px;
  font-size: 22px;
}

.ui-satellite {
  position: absolute;
  bottom: -20px;
  left: -45px;
  width: 25px;
  transform-origin: 160px bottom;
  transform: rotate(0deg);
  transition: transform 2s;
}

.container-header {
  opacity: 0.7;
}

.ui-help {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 10px;
  top: 10px;
}
.ui-info {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 10px;
  top: 10px;
}

.ui-declination {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.ui-magnet {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 2s;
}
.ui-declination-txt {
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  line-height: 7px;
  margin-bottom: 5px;
}
.ui-declination-value {
  display: inline;
  font-weight: 400;
  font-size: 26px;
  vertical-align: top;
}
.hide {
  visibility: hidden;
}

.modal-info {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: 5px 10px;
  width: 180px;
  height: 255px;
  right: 28px;
  top: 60px;
  border-radius: 10px 0 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.modal-info:before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.9);
}

.modal-info .info-title {
  font-weight: 400;
  margin-top: 12px;
}

.modal-info .info-text {
  font-size: 14px;
  font-weight: 300;
}
